* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #f6f7fb;
    background-image: url("./assets/yellow-blob.svg"),
        url(./assets/blue-blob.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
}

/* Intro  */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro--title {
    font-family: "Karla", "sans-serif";
    font-size: 2rem;
    color: #293264;
    margin: 0;
}

.intro--subtext {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
}

.intro--btn {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    font-weight: 500;
    padding: 1em 4em;
    background: #4d5b9e;
    color: #f5f7fb;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.intro--btn:hover,
.intro--btn:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow: inset 1px 1px 10px #333;
    box-shadow: inset 1px 1px 10px #333;
}

/* Quiz */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz {
    padding: 1.3em 0;
    border-bottom: 0.794239px solid #dbdef0;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 600px;
}

.quiz--question {
    font-family: "Karla", "sans-serif";
    font-size: 1rem;
    color: #293264;
    margin: 0 0 0.75em 0;
}

.quiz--choices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.quiz--choice {
    font-family: "Inter", "sans-serif";
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5em 1em;
    color: #293264;
    border-radius: 7.94239px;
    margin: 0.8em 1em 0 0;
    cursor: pointer;
}

.quiz--choice:hover,
.main-btn:hover {
    -webkit-box-shadow: inset 1px 1px 5px #333;
    -moz-box-shadow: inset 1px 1px 5px #333;
    box-shadow: inset 1px 1px 5px #333;
}

.quiz--bottom {
    display: flex;
    align-items: center;
}

.quiz--score {
    font-family: "Inter", "sans-serif";
    color: #293264;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    margin-right: 1em;
}

.quiz--error {
    font-family: "Inter", "sans-serif";
    font-size: 0.8rem;
    color: red;
    margin: 0;
}

.main-btn {
    display: flex;
    margin: 1.5em auto;
    font-family: "Inter", "sans-serif";
    font-size: 0.7rem;
    font-weight: 600;
    padding: 1em 2em;
    background: #4d5b9e;
    color: #f5f7fb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
